* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #0f1d32;
  --deep-blue: #3b4650;
  --white: #ffffff;
  --light-blue: #0057a8;
  --red: #c71a1a;
  --green: #198b17;
  --yellow: #ffe600;
  --black: #000000;
} 

.title-display {
  font-family: 'Red Rose', cursive;
  font-size: 24px;
}

title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.text-normal {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.text-highlight {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.btn-shell {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

.text-shell {
  font-family: 'Fira Code', monospace;
  font-size: 12px;
}

.text-btn-shell {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}
